<!DOCTYPE html>
<html ng-app="admin">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body ng-controller="AdminCtrl" ng-init="init()">
    <div class="container">

        <div class="page-header">
            <h1>Sales Manager Admin</h1>
        </div>

        <div class="row">
            <div class="col-md-8">

                <h4>Scripts</h4>
                <div ng-repeat="script in scripts">
                  <p>{{script.text}}</p>
                  <p>{{script.section}}</p>
                  <!-- loop through all scripts  -->
                </div>
                <hr>
            </div>

            <div class="col-md-4">
              <h3>Create</h3>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" id="form-question" ng-model="script.text" placeholder="Enter script text...">
                  </div>

                  <label>Section</label>

                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="script.section" placeholder="select section">
                  </div>
                  <div class="btn btn-primary" ng-click="saveScript()">Add</div>
                </form>
            </div>

        </div>
    </div>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- your app's js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/admin_app.js"></script>
    <script src="js/services.js"></script>

</body>

</html>
