<!DOCTYPE html>
<html ng-app="admin">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body ng-controller="AdminCtrl" ng-init="init()">
    <div class="container">

        <div class="page-header">
            <h1>Sales Manager Admin</h1>
        </div>

        <div class="row">
            <div class="col-md-8">
              <h4>Pages</h4>
              <div ng-repeat="page in pages">
              <!-- loop through all pages  -->
                <p>Page {{page.id}}</p>
              </div>
              <hr>

              <h4>Scripts</h4>
              <div ng-repeat="script in scripts">
                <p>{{script.text}}</p>
                <p>{{script.answer_id}}</p>
                <p class="tips">page#: {{script.page_id}} // answer#:{{script.answer_id}}
                <!-- loop through all scripts  -->
              </div>
              <hr>

              <h4>Answers</h4>
              <div ng-repeat="answer in answers">
                <p>{{answer.text}}</p>
                <p class="tips">page#: {{answer.page_id}}
                <!-- loop through all scripts  -->
              </div>
              <hr>
            </div>

            <div class="col-md-4">
              <h3>Create</h3>

              <h4>Pages</h4>
              <div class="btn btn-primary" ng-click="addPage()">New Page</div>

              <h4>Scripts</h4>
              <p class="tips"> Include placeholders within double brackets, [[firstname]], and the question you want answered within tripple brackets, [[[What is your position in the company?]]].</p>
              <form>
                <div class="form-group">
                  <textarea type="text" class="form-control" id="form-script" ng-model="script.text" placeholder="Enter script text..."></textarea>
                </div>
                <div class="form-group">
                  <p class="tips"> What answer leads to this script? </p>
                  <select name="Select answer" ng-model="script.answer_id">
                          <option ng-repeat="answer in answers" value="{{answer.id}}">Page {{answer.page_id}}: {{answer.text}}</option>
                  </select>
                </div>
                <div class="btn btn-primary" ng-click="saveScript()">Add Script</div>
              </form>

              <h4>Answers</h4>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="form-answer" ng-model="answer.text" placeholder="Enter answer...">
                </div>
                <div class="form-group">
                  <p class="tips"> On what page is this answer asked for? </p>
                  <select name="Select Page" ng-model="answer.page_id">
                          <option ng-repeat="page in pages" value="{{page.id}}">Page {{page.id}}</option>
                  </select>
                </div>
                <div class="btn btn-primary" ng-click="addAnswer()">Add Answer</div>
              </form>
            </div>

        </div>
    </div>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- your app's js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/admin_app.js"></script>
    <script src="js/services.js"></script>

</body>

</html>
