<!DOCTYPE html>
<html ng-app="admin">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body ng-controller="AdminCtrl">
    <div class="container">

        <div class="page-header">
            <h1>Sales Manager Admin</h1>
        </div>

        <div class="row">
            <div class="col-md-8">

                <h4>Scripts</h4>
                <div>
                  <!-- loop through all scripts  -->
                </div>
                <hr>
            </div>

            <div class="col-md-4">
              <h3>Create</h3>
                <form>
                    <div class="form-group">
                        <p class="alert alert-danger" ng-show="!questionErrors.question">
                            <strong>Error!</strong> Please supply some text.
                        </p>
                        <input type="text" class="form-control" id="form-question" ng-model="question.question" placeholder="Enter script text...">
                    </div>

                    <label>Section</label>
                    <p class="alert alert-danger" ng-show="!questionErrors.answers">
                        <strong>Error!</strong> Please supply your scripts section.
                    </p>

                    <div class="form-group" ng-repeat="item in questionAnswers">
                        <div class="input-group">
                            <span class="input-group-addon">
                  <input type="radio" ng-model="question.answer_index" ng-value="$index">
                </span>
                            <input type="text" class="form-control" ng-model="questionAnswers[$index].text" placeholder="select section">
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="saveQuestion()">Add</button>
                </form>
            </div>

        </div>
    </div>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- your app's js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/admin_app.js"></script>
    <script src="js/services.js"></script>

</body>

</html>
